# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
concurrency:
  # Cancel previous CI runs when additional commits are added to a pull request.
  # This will not cancel CI runs associated with `schedule` or `push`.
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  ubuntu_jammy_cmake_installed_apt:
    name: ubuntu 22.04 jammy
    runs-on: ubuntu-latest
    container: ubuntu:jammy
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup
        working-directory: drake_cmake_installed_apt
        run: .github/ubuntu_apt_setup
        shell: bash
      - name: cmake_installed_apt build and test
        working-directory: drake_cmake_installed_apt
        run: .github/ci_build_test
        shell: bash
