# SPDX-License-Identifier: MIT-0

# Don't use bzlmod yet.
common --enable_workspace=true
common --enable_bzlmod=false

# Default to an optimized build.
build --compilation_mode=opt

# Default build options.
build --strip=never

# Default test options.
build --test_output=errors
build --test_summary=terse

# Use C++20.
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# https://github.com/bazelbuild/bazel/issues/1164
build --action_env=CCACHE_DISABLE=1

# Pass along the compiler major version to Drake. This doesn't actually set or
# change the compiler used for the build, but tells Drake's CC rules what
# version to expect to tweak compiler- and version-specific flags accordingly.
# In particular, many warnings are suppressed when using gcc-13 (the default
# on Ubuntu 24.04 Noble). Adapt this flag to your system's compiler major
# version as necessary.
# build --@drake//tools/cc_toolchain:compiler_major=13

# For Ubuntu builds, this flag can cut build times in half. For macOS builds,
# this flag might cause build errors. We suggest turning it on if and only if
# your project doesn't use macOS.
## build --force_pic=yes

# TODO(jwnimmer-tri) We should see if we can reuse more of Drake's
# customizations somehow.

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
