# SPDX-License-Identifier: MIT-0

# Disable native Python rules in Bazel versions before 3.0.
# TODO(jamiesnape): Uncomment the below line when @drake uses @rules_python.
# build --incompatible_load_python_rules_from_bzl=yes

# Default to an optimized build.
build --compilation_mode=opt

# Default build options.
build --force_pic=yes
build --strip=never

# Default test options.
build --test_output=errors
build --test_summary=terse

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# https://github.com/bazelbuild/bazel/issues/1164
build --action_env=CCACHE_DISABLE=1

# TODO(jwnimmer-tri) We should see if we can reuse more of Drake's
# customizations somehow.

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
