# SPDX-License-Identifier: MIT-0

# Enable platform-specific config groups (e.g., "build:linux", "build:macos").
common --enable_platform_specific_config

# Use cloudflare's mirror for improved reliability of external downloads.
common --module_mirrors=https://bcr.cloudflaremirrors.com

# Default to an optimized build.
build --compilation_mode=opt
build --features=prefer_pic_for_opt_binaries

# Default build options.
build --strip=never

# Default test options.
build --test_output=errors
build --test_summary=terse

# Treat any use of a deprecated Drake API as a hard error: the copt fails
# the C++ compile, and the test_env makes pydrake throw at the call site.
# We set these in our examples to ensure they stay up-to-date with latest
# Drake. You might decide to remove them or set to 'ignore' in your own
# project.
build --copt=-Werror=deprecated-declarations
build --test_env=DRAKE_DEPRECATION_RUNTIME_SEVERITY=error

# Use C++23.
build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23

# Suppress warnings from module externals.
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w

# https://github.com/bazelbuild/bazel/issues/1164
build --action_env=CCACHE_DISABLE=1

# Use eigen, fmt, spdlog from the host OS via pkg-config, rather than bzlmod.
# It's okay to remove this line if you'd rather use bzlmod. For details, see:
# https://github.com/RobotLocomotion/drake/blob/master/tools/flags/BUILD.bazel
build --@drake//tools/flags:public_repo_default=pkgconfig

# On Linux we expected to be using -fuse-ld=lld to link (per @rules_cc), so we
# must dial back its default per-process thread count of 16 down to something
# less likely to overload the system.
build:linux --linkopt=-Wl,--threads=1

# Enable OpenMP (linux only).
build:linux --copt=-DEIGEN_DONT_PARALLELIZE
build:linux --copt=-fopenmp
build:linux --linkopt=-fopenmp

# Drake supports the use of proprietary solvers for mathematical programs.
# See https://drake.mit.edu/bazel.html#proprietary-solvers for more info
# and details on how to set them up.
# They can be enabled for the build and tests as shown below.
# Note that setting the --test_env below as 'build' flags is deliberate,
# to keep the analysis cache intact when switching between build and test.

# Enable Gurobi.
# build --@drake//tools/flags:with_gurobi=True
# Location of the Gurobi license key file, typically named "gurobi.lic".
# build --test_env=GRB_LICENSE_FILE

# Enable MOSEK.
# build --@drake//tools/flags:with_mosek=True
# Location of the MOSEK license file, typically named "mosek.lic".
# build --test_env=MOSEKLM_LICENSE_FILE

# Enable SNOPT.
# build --@drake//tools/flags:with_snopt=True
# Location of the SNOPT source archive.
# build --repo_env=SNOPT_PATH

# TODO(jwnimmer-tri) We should see if we can reuse more of Drake's
# customizations somehow.

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
