# SPDX-License-Identifier: MIT-0

# Default to an optimized build.
build --compilation_mode=opt

# Default build options.
build --strip=never

# Default test options.
build --test_output=errors
build --test_summary=terse

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# https://github.com/bazelbuild/bazel/issues/1164
build --action_env=CCACHE_DISABLE=1

# For Ubuntu builds, this flag can cut build times in half. For macOS builds,
# this flag might cause build errors. We suggest turning it on if and only if
# your project doesn't use macOS.
## build --force_pic=yes

# TODO(jwnimmer-tri) We should see if we can reuse more of Drake's
# customizations somehow.

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
