# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  ros_humble_ament_cmake_installed:
      name: ros 2 humble ament cmake installed
      runs-on: ubuntu-latest
      container: ubuntu:jammy
      steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: setup
          run: ./drake_ament_cmake_installed/.github/ros_humble_setup
          shell: bash
        - name: ament_cmake_installed build and test
          run: ./drake_ament_cmake_installed/.github/ci_build_test
          shell: bash