# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  ubuntu_jammy_bazel_download:
    name: ubuntu 22.04 jammy
    runs-on: ubuntu-latest
    container: ubuntu:jammy
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup
        working-directory: drake_bazel_download
        run: |
          args=()
          if [[ '${{ github.event.inputs.linux_jammy_package_tar }}' != '' ]]; then
            args+=(--package-url ${{ github.event.inputs.linux_jammy_package_tar }})
          fi
          .github/ubuntu_setup "${args[@]}"
        shell: bash
      - name: install_bazelisk
        working-directory: drake_bazel_download
        run: setup/install_bazelisk
        shell: bash
      - name: bazel_download build and test
        working-directory: drake_bazel_download
        run: |
          args=()
          if [[ '${{ github.event.inputs.linux_jammy_package_tar }}' != '' ]]; then
            args+=(--drake-override)
          fi
          .github/ci_build_test "${args[@]}"
        shell: bash
