# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  ubuntu_jammy_catkin_installed:
    name: ubuntu 22.04 jammy catkin installed
    runs-on: ubuntu-latest
    container: ubuntu:jammy
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup
        run: ./scripts/continuous_integration/github_actions/ubuntu_setup
        shell: bash
      - name: catkin_installed build and test
        run: ./drake_catkin_installed/.github/ci_build_test
        shell: bash