# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
    inputs:
      linux_noble_package_tar:
        description: 'Drake linux-noble-*-packaging .tar.gz artifact URL'
        required: false
      linux_noble_package_deb:
        description: 'Drake linux-noble-*-packaging .deb artifact URL'
        required: false
      mac_arm_sequoia_package_tar:
        description: 'Drake mac-arm-sequoia-*-packaging .tar.gz artifact URL'
        required: false
      linux_noble_wheel:
        description: 'Drake linux-noble-*-wheel-*-release Python 3.12 artifact URL'
        required: false
      mac_arm_sequoia_wheel:
        description: 'Drake mac-arm-sequoia-*-wheel-*-release Python 3.14 artifact URL'
        required: false
concurrency:
  # Cancel previous CI runs when additional commits are added to a pull request.
  # This will not cancel CI runs associated with `schedule` or `push`.
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  cmake_installed:
    uses: ./.github/workflows/cmake_installed.yml
  bazel_download:
    uses: ./.github/workflows/bazel_download.yml
  cmake_installed_apt:
    uses: ./.github/workflows/cmake_installed_apt.yml
  pip:
    uses: ./.github/workflows/pip.yml
  poetry:
    uses: ./.github/workflows/poetry.yml
  file_sync:
    name: file sync
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: file_sync test
        run: |
          pip install ruamel.yaml
          python ./private/test/file_sync_test.py
