# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
    inputs:
      linux_jammy_package_tar:
        description: 'Drake linux-jammy-*-packaging .tar.gz artifact URL'
        required: true
        default: 'https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-jammy.tar.gz'
      linux_jammy_package_deb:
        description: 'Drake linux-jammy-*-packaging .deb artifact URL'
        required: true
        default: 'https://drake-packages.csail.mit.edu/drake/nightly/drake-dev_latest-1_amd64-jammy.deb'
      mac_arm_sonoma_package_tar:
        description: 'Drake mac-arm-sonoma-*-packaging .tar.gz artifact URL'
        required: true
        default: 'https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-mac-arm64.tar.gz'
      linux_jammy_wheel:
        description: 'Drake linux-jammy-*-wheel-*-release Python 3.10 artifact URL'
        required: true
        default: 'https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-cp310-cp310-manylinux_2_35_x86_64.whl'
      mac_arm_sonoma_wheel:
        description: 'Drake mac-arm-sonoma-*-wheel-*-release Python 3.12 artifact URL'
        required: true
        default: 'https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-cp312-cp312-macosx_14_0_arm64.whl'
concurrency:
  # Cancel previous CI runs when additional commits are added to a pull request.
  # This will not cancel CI runs associated with `schedule` or `push`.
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  cmake_installed:
    uses: ./.github/workflows/cmake_installed.yml
  bazel_download:
    uses: ./.github/workflows/bazel_download.yml
  cmake_installed_apt:
    uses: ./.github/workflows/cmake_installed_apt.yml
  pip:
    uses: ./.github/workflows/pip.yml
  poetry:
    uses: ./.github/workflows/poetry.yml
  file_sync:
    name: file sync
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: file_sync test
        run: python ./private/test/file_sync_test.py
