# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  macos_sequoia_arm_cmake_installed:
    name: macos sequoia 15 arm
    runs-on: macos-15
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup
        working-directory: drake_cmake_installed
        run: |
          args=()
          if [[ '${{ github.event.inputs.mac_arm_sequoia_package_tar }}' != '' ]]; then
            args+=(--package-url ${{ github.event.inputs.mac_arm_sequoia_package_tar }})
          fi
          setup/install_prereqs "${args[@]}"
        shell: zsh -efuo pipefail {0}
      - name: cmake_installed build and test
        working-directory: drake_cmake_installed
        run: .github/ci_build_test
        shell: zsh -efuo pipefail {0}
  ubuntu_noble_cmake_installed:
    name: ubuntu 24.04 noble
    runs-on: ubuntu-latest
    container: ubuntu:noble
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup
        working-directory: drake_cmake_installed
        run: |
          args=()
          if [[ '${{ github.event.inputs.linux_noble_package_tar }}' != '' ]]; then
            args+=(--package-url ${{ github.event.inputs.linux_noble_package_tar }})
          fi
          .github/ubuntu_setup "${args[@]}"
        shell: bash
      - name: cmake_installed build and test
        working-directory: drake_cmake_installed
        run: .github/ci_build_test
        shell: bash
