# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  ubuntu_noble_cmake_installed_apt:
    name: ubuntu 24.04 noble
    runs-on: ubuntu-latest
    container: ubuntu:noble
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup
        working-directory: drake_cmake_installed_apt
        run: |
          args=()
          if [[ '${{ github.event.inputs.linux_noble_package_deb }}' != '' ]]; then
            args+=(--package-url ${{ github.event.inputs.linux_noble_package_deb }})
          fi
          .github/ubuntu_apt_setup "${args[@]}"
        shell: bash
      - name: cmake_installed_apt build and test
        working-directory: drake_cmake_installed_apt
        run: .github/ci_build_test
        shell: bash
