# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  macos_sequoia_arm_pip:
    name: macos sequoia 15 arm
    runs-on: macos-15
    env:
      PYTHON_VERSION: '3.14'
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: python setup
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: venv setup and install
        working-directory: drake_pip
        run: |
          args=(--python-version $PYTHON_VERSION)
          if [[ '${{ github.event.inputs.mac_arm_sequoia_wheel }}' != '' ]]; then
            args+=(--wheel-url ${{ github.event.inputs.mac_arm_sequoia_wheel }})
          fi
          setup/setup_env "${args[@]}"
        shell: zsh -eufo pipefail {0}
      - name: pip build and test
        working-directory: drake_pip
        run: .github/ci_build_test
        shell: zsh -efuo pipefail {0}
  ubuntu_noble_pip:
    name: ubuntu 24.04 noble
    runs-on: ubuntu-latest
    container: ubuntu:noble
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: pip setup
        working-directory: drake_pip
        run: |
          args=()
          if [[ '${{ github.event.inputs.linux_noble_wheel }}' != '' ]]; then
            args+=(--wheel-url ${{ github.event.inputs.linux_noble_wheel }})
          fi
          .github/ubuntu_setup "${args[@]}"
        shell: bash
      - name: pip build and test
        working-directory: drake_pip
        run: .github/ci_build_test
        shell: bash
