# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  macos_sonoma_arm_pip:
    name: macos sonoma 14 arm
    runs-on: macos-14
    steps:
      - name: checkout
        uses: actions/checkout@v4
      # See issue https://github.com/actions/setup-python/issues/577.  There is
      # some kind of environment conflict between the symlinks found in the
      # GitHub Actions runner and `brew upgrade python` where `brew` detects and
      # refuses to overwrite symlinks.  The cause for our runs is not clear,
      # we do not use that action, but if that issue is closed this section
      # can be removed.
      - name: sanitize GHA / brew python environment
        run: |
          # Remove the symlinks that cause issues.
          find /usr/local/bin -lname '*/Library/Frameworks/Python.framework/*' -delete
          sudo rm -rf /Library/Frameworks/Python.framework/
      - name: python setup
        id: macos_python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: pip build and test
        working-directory: drake_pip
        run: .github/ci_build_test
        env:
          PYTHON_VERSION: '3.12'
        shell: zsh -efuo pipefail {0}
  ubuntu_jammy_pip:
    name: ubuntu 22.04 jammy
    runs-on: ubuntu-latest
    container: ubuntu:jammy
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: pip setup
        working-directory: drake_pip
        run: .github/ubuntu_setup
        shell: bash
      - name: pip build and test
        working-directory: drake_pip
        run: .github/ci_build_test
        env:
          PYTHON_VERSION: '3'
        shell: bash
