# SPDX-License-Identifier: MIT-0

---
name: ci
on:
  workflow_call:

jobs:
  macos_sequoia_arm_poetry:
    name: macos sequoia 15 arm
    runs-on: macos-15
    env:
      PYTHON_VERSION: '3.14'
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: python setup
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: poetry setup
        working-directory: drake_poetry
        run: |
          .github/setup
          args=(--python-version $PYTHON_VERSION)
          if [[ '${{ github.event.inputs.mac_arm_sequoia_wheel }}' != '' ]]; then
            args+=(--wheel-url ${{ github.event.inputs.mac_arm_sequoia_wheel }})
          fi
          setup/install_prereqs "${args[@]}"
        shell: zsh -efuo pipefail {0}
      - name: poetry test
        working-directory: drake_poetry
        run: .github/ci_build_test
        shell: zsh -efuo pipefail {0}
  ubuntu_noble_poetry:
    name: ubuntu 24.04 noble
    runs-on: ubuntu-latest
    container: ubuntu:noble
    steps:
      - name: checkout
        uses: actions/checkout@v5
      # setup and test must occur in one step
      # because when poetry is installed, the update to PATH
      # does not persist between steps on GHA
      - name: poetry setup and test
        working-directory: drake_poetry
        run: |
          .github/setup
          source $HOME/.profile
          args=()
          if [[ '${{ github.event.inputs.linux_noble_wheel }}' != '' ]]; then
            args+=(--wheel-url ${{ github.event.inputs.linux_noble_wheel }})
          fi
          setup/install_prereqs "${args[@]}"
          .github/ci_build_test
        shell: bash
